* {
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 20px;
}

body {
  margin: 0 1em;
  padding: 0;
  background-color: $less-saturated-white;
}

h1 {
  font-size: 3.5em;
}

.App {
  text-align: center;
}
