@import "variables";

.App-logo {
  height: calc($row-height - 50px);
  width: $row-height;
  display: flex;
  background-color: rgba(0,0,0,0.0);
  img {
    margin: 0 auto;
  }
}

.App-header {
  min-height: 10vh;
  font-size: 2em;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: $less-saturated-black;
  border-bottom: 2px dashed $less-saturated-white;
}
