/* Variables */
$less-saturated-black: hsl(252, 5%, 14%);
$less-saturated-white: hsl(240, 100%, 98%);

/* Animations */

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
